[submodule "marrionette-exchange"]
	path = marrionette-exchange
	url = https://github.com/Defi-Oracle-Tooling/Marrionette-Exchange.git
[submodule "6-DOF-4-HL-Chains"]
	path = 6-DOF-4-HL-Chains
	url = https://github.com/Defi-Oracle-Tooling/6-DOF-4-HL-Chains.git
[submodule "az-billing"]
	path = az-billing
	url = https://github.com/Defi-Oracle-Tooling/AZ-Billing-submodule.git

[submodule "wf-vantage-api"]
	path = wf-vantage-api
	url = https://github.com/Defi-Oracle-Tooling/WF-Vantage-API-Submodule.git
[submodule "src/integrations/marionette-exchange"]
	path = src/integrations/marionette-exchange
	url = https://github.com/Defi-Oracle-Tooling/marionette.git
[submodule "tatum-connector"]
	path = tatum-connector
	url = https://github.com/absolute-realms/tatum-connector.git
