[submodule "ui"]
	path = ui
	url = https://github.com/Defi-Oracle-Tooling/6-DOF-4-HL-Chains
[submodule "6-DOF-4-HL-Chains"]
	path = 6-DOF-4-HL-Chains
	url = https://github.com/Defi-Oracle-Tooling/6-DOF-4-HL-Chains.git
